<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config>
	<androidPlatforms>/home/runner/work/TaintBench/TaintBench/platforms</androidPlatforms>
	<maxMemory>20</maxMemory>
	<tools>
    	<tool name="Amandroid312" version="1" external="false">
			<priority>1</priority>
			<execute>
				<run>/home/runner/work/TaintBench/TaintBench/AnalysisTools/Amandroid_3.1.2_Release/aqlRunSS.sh %APP_APK% %MEMORY% %SourcesAndSinks%</run>
				<result>/home/runner/work/TaintBench/TaintBench/AnalysisTools/Amandroid_3.1.2_Release/outputPath/%APP_APK_FILENAME%/result/AppData.txt</result>
				<instances>1</instances>
				<memoryPerInstance>6</memoryPerInstance>
			</execute>
			<path>/home/runner/work/TaintBench/TaintBench/AnalysisTools/Amandroid_3.1.2_Release/</path>
	        <runOnExit>/home/runner/work/TaintBench/TaintBench/TBFramework/BREW-2.0.0-SNAPSHOT-EMSE/flushMemory.sh</runOnExit>
			<runOnAbort>/home/runner/work/TaintBench/TaintBench/TBFramework/BREW-2.0.0-SNAPSHOT-EMSE/killpid.sh %PID%</runOnAbort>
			<questions>IntraAppFlows</questions>
		</tool>
		<tool name="TBSaSMapper" version="1">
			<priority>1</priority>
			<execute>
				<run>java -Xmx%MEMORY%g -jar TBSaSMapper-1.0-SNAPSHOT.jar %APP_APK% -o /home/runner/work/TaintBench/TaintBench/TBFramework/TBSaSMapper-1.0-SNAPSHOT-EMSE/results -tb %TAINTBENCH_DIR% -id %TAINTBENCH_ID%</run>
				<result>/home/runner/work/TaintBench/TaintBench/TBFramework/TBSaSMapper-1.0-SNAPSHOT-EMSE/results/%APP_APK_FILENAME%.xml</result>
				<instances>0</instances>
				<memoryPerInstance>4</memoryPerInstance>
			</execute>
			<path>/home/runner/work/TaintBench/TaintBench/TBFramework/TBSaSMapper-1.0-SNAPSHOT-EMSE</path>
			<questions>Sources, Sinks</questions>
		</tool>
	</tools>
	<operators>
		<tool name="TBSaSMapper" version="1">
			<priority>1</priority>
			<execute>
				<run>java -Xmx%MEMORY%g -jar TBSaSMapper-1.0-SNAPSHOT.jar -c ad %ANSWERS% -o /home/runner/work/TaintBench/TaintBench/TBFramework/TBSaSMapper-1.0-SNAPSHOT-EMSE/results -tb %TAINTBENCH_DIR%</run>
				<result>/home/runner/work/TaintBench/TaintBench/TBFramework/TBSaSMapper-1.0-SNAPSHOT-EMSE/results/SourcesAndSinks_ad_%ANSWERSHASH%.txt</result>
				<instances>0</instances>
				<memoryPerInstance>4</memoryPerInstance>
			</execute>
			<path>/home/runner/work/TaintBench/TaintBench/TBFramework/TBSaSMapper-1.0-SNAPSHOT-EMSE</path>
			<questions>TOTS(1)</questions>
		</tool>
	</operators>
</config>
